<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TygerbergNeonatalExcelExtensions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TygerbergNeonatalExcelExtensions.Properties.Settings>
            <setting name="WardSpecimenTypeFilterExcludeFromApplyAllPreprocessing"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UniqueLabNumberFilterExcludeFromApplyAllPreprocessing"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ContaminantFilterExcludeFromApplyAllPreprocessing"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NullFindingFilterExcludeFromApplyAllPreprocessing"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OrganismGroupingExcludeFromApplyAllPreprocessing"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimePeriodFilterExcludeFromApplyAllPreprocessing"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WardColumnHeader" serializeAs="String">
                <value />
            </setting>
            <setting name="SpecimenTypeColumnHeader" serializeAs="String">
                <value />
            </setting>
            <setting name="UniqueLabNumberFilterColumnHeader" serializeAs="String">
                <value />
            </setting>
            <setting name="ContaminantFilterColumnHeader" serializeAs="String">
                <value />
            </setting>
            <setting name="NullFindingFilterColumnHeader" serializeAs="String">
                <value />
            </setting>
            <setting name="OrganismGroupingColumnHeader" serializeAs="String">
                <value />
            </setting>
            <setting name="TimePeriodFilterPatientIdentificationColumnHeader"
                serializeAs="String">
                <value />
            </setting>
            <setting name="TimePeriodFilterDateColumnHeader" serializeAs="String">
                <value />
            </setting>
            <setting name="TimePeriodFilterNoDays" serializeAs="String">
                <value>7</value>
            </setting>
        </TygerbergNeonatalExcelExtensions.Properties.Settings>
    </userSettings>
</configuration>